################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HolmesMVC/obj/Release/AspnetCompileMerge
/HolmesMVC/obj/Release/Package/PackageTmp
*.suo
*.cache
/HolmesMVC/bin/HolmesMVC.dll
/HolmesMVC/bin/HolmesMVC.dll.config
/HolmesMVC/bin/HolmesMVC.pdb
/HolmesMVC/obj/Debug/*
/HolmesMVC/web.debug.config
/HolmesMVC/web.release.config
/HolmesMVC/web.config


# Project-specific ignores

HolmesMVC/Content/ActorPhotos/*.jpg