
<h2 class="detailscategory">Search</h2>

<p>This is where the new Canon Search feature goes</p>

<p>Desired:</p>
<ul>
<li>Canon search which returns Google-style excerpts, for easy identification of whether you've found the bit you wanted or not</li>
<li>Responds to keywords and to phrases</li>
<li>Can answer 'which story had this bit?' and also 'in which stories is this mentioned?'</li>
    </ul>