@model HolmesMVC.Models.ViewModels.CanonSearchView

@if (string.IsNullOrEmpty(Model.Query))
{
    ViewBag.Title = "Canon Search";

}
else
{

    if (Model.Query.IndexOf('"') > -1)
    {
        ViewBag.Title = "Canon Search for " + Model.Query;
    }
    else
    {
        ViewBag.Title = "Canon Search for '" + Model.Query + "'";
    }
}

<h2 class="detailscategory">@ViewBag.Title</h2>
<form action="/Canon/Search/">
    <input type="text" name="query" />
    <input type="submit" value="Search" />
</form>

@if (!string.IsNullOrEmpty(Model.Query))
{
    <br />

    HolmesMVC.Models.Story previousStory = null;

    foreach (var node in Model.Nodes)
    {
        if (previousStory != null && node.Story.ID != previousStory.ID)
        {
    <text>-- </text>@Html.ActionLink(previousStory.Name, "Details", "Story", new { id = previousStory.ID }, null)<br />
    <br />
    <hr />
    <br />
        }
            
    @Html.Raw(node.Snippet)<br />
    <br />
    
        previousStory = node.Story;

    }
    if (previousStory != null)
    {
    <text>-- </text>@Html.ActionLink(previousStory.Name, "Details", "Story", new { id = previousStory.ID }, null)<br />
    <br />
    <br />
    }
}
