@{
    ViewBag.Title = "Credits";
}

<h2>Credits</h2>

<p>For the text of the stories I am indebted to <a target="_blank" href="http://sherlock-holm.es">sherlock-holm.es</a>, and also for the formatting which I have mostly preserved. There are a few typographical errors ('if' for 'of' and that sort of thing) which I correct as I find them. The illustrations come from <a target="_blank" href="http://ignisart.com/camdenhouse/canon">Camden House</a>.</p>

<p>William S. Baring-Gould's story timeline was found at <a target="_blank" href="http://www.diogenes-club.com/hoybaringgould.htm">Diogenes-Club.com</a>.</p>

<p>Special thanks go to Mr. Bert Coules, creator of the essential BBC Radio series starring Clive Merrison and Michael Williams, and maintainer of <a target="_blank" href="http://www.merrisonholmes.com">an excellent website</a> which provided most of the information on that series (as IMDb cannot be relied on for radio).</p>

<p><a target="_blank" href="http://www.imdb.com">IMDb</a> and <a target="_blank" href="http://en.wikipedia.org">Wikipedia</a> have provided vital stats on actors, titles and airdates of episodes, and other information, some of which is probably wrong but that's the fun of the Internet.</p>

<p>And finally this site would be completely pointless without the actors, writers, producers, directors, and everyday Sherlockians who make sure that the Great Detective (and his invaluable biographer) will never die. Shout-outs to the <a>#GranadaHolmes</a> crew, the <a>#IreneAdlerLiberationFront</a>, all members of <a>#TeamSussex</a> and everyone who's ever sat up til 2AM making Jezail bullet jokes.</p><br /><br />

<h3>Administrative note - On theatre</h3>

<p>By default, 'No theatre' mode is enabled. This means information on Sherlockian theatre will not show up in searches, and you should not come across e.g. theatre actors without seeking them out individually. This is why:</p>

<p>Appledore will probably never be a <i>complete</i> record of Sherlockian film and TV, as there is too much of it and we're making more all the time (hooray!). But it does aim towards that.</p>

<p>Theatre is a different matter. Your humble archivist discovered soon after starting this project that theatre cannot be catalogued in the same way - to put it bluntly, it doesn't fit my database schema. Appledore's code is strongly tied to the concept of 'episodes', which are recorded once, by one cast of actors, and can then be re-aired at will. Theatre simply doesn't work like that.</p>

<p>There is some material in Appledore relating to theatre performances, particularly of William Gillette (the first actor to play Holmes) and of performances I attended myself. Until I can work out a better way to catalogue this material, it is unlikely there will be much more added.</p>

<p>Meanwhile, you can find much more comprehensive information at <a target="_blank" href="https://www.lib.umn.edu/scrbm/ush/intro">The Universal Sherlock Holmes</a>, a project of the University of Minnesota. <a target="_blank" href="https://www.lib.umn.edu/scrbm/ush/volume-3-section-XK">Volume 3 Section XK</a> relates to plays, and is where I got my Gillette-era data from. Their mention that Gillette played Holmes <i>1,300 times</i> illustrates the scale of the theatre problem!</p>