@{
    ViewBag.Title = "Home";
}
<link rel="canonical" href="https://appledore.azurewebsites.net/" />
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>Hi. I'm Lauren, and I'm trying to learn ASP.NET MVC4.</p>
            <p>In my free time, I read Sherlock Holmes.</p>
            <p>This site is what happens when you combine those things...</p>
        </div>
    </section>
}
<!-- this is breaking intermittently, remove from live site until diagnosed 
    
    Html.Action("RandomFact")
    
    -->
