@{
    ViewBag.Title = "Scraps";

    var holmesDictionary = Model as Dictionary<Int32, HolmesMVC.Models.Actor>;
    foreach (Int32 key in holmesDictionary.Keys)
    {

        try
        {
            HttpWebRequest request =
        HttpWebRequest.Create(holmesDictionary[key].Pic) as HttpWebRequest;
            
            HttpWebResponse response = request.GetResponse() as HttpWebResponse;
            if (response.StatusCode == HttpStatusCode.OK)
            {
    <a href="/actor/@holmesDictionary[key].ID">
        <img style="height:200px;" src="@holmesDictionary[key].Pic" alt="@holmesDictionary[key].Forename @holmesDictionary[key].Surname"></a>
            }
        }
        catch
        {
        }

    }      
    
}

<div id="body">
    <h2>@ViewBag.Title</h2>
</div>

@section Scripts {
}