@{
    ViewBag.Title = "Scraps";

    var holmesList = Model as List<HolmesMVC.Models.Actor>;
    foreach (var actor in holmesList)
    {
    <a href="/actor/@actor.ID">
        <img style="height:200px;" src="@actor.Pic" alt="@actor.Forename @actor.Surname"></a>
    }      
    
}

<div id="body">
    <h2>@ViewBag.Title</h2>
</div>

@section Scripts {
}