@{
    ViewBag.Title = "Sitemap";
    var actors = ((IEnumerable<HolmesMVC.Models.Actor>)ViewBag.Actors).ToList();
    var characters = ((IEnumerable<HolmesMVC.Models.Character>)ViewBag.Characters).ToList();
    var adaptations = ((IEnumerable<HolmesMVC.Models.Adaptation>)ViewBag.Adaptations).ToList();
}

<h2>Top Menu</h2>

<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/canon">Canon</a>
    </li>
    <li>
        <a href="/canon/search">Canon Search</a>
    </li>
    <li>
        <a href="/adaptation">Adaptations</a>
    </li>
    <li>
        <a href="/toys/holmesnumtoy">HolmesNumToy</a>
    </li>
    <li>
        <a href="/toys/photocollagetoy">PhotoCollageToy</a>
    </li>
    <li>
        <a href="/toys/mappintoy">MapPinToy</a>
    </li>
    <li>
        <a href="/toys/multitimelinetoy">MultiTimelineToy</a>
    </li>
    <li>
        <a href="/home/credits">Credits</a>
    </li>
</ul>

<h2>Adaptations</h2>
<ul>
    @foreach (var a in adaptations)
    {
        <li><a href="/adaptation/@a.UrlName">@a.UrlName</a></li>
        <li>
            Episodes:
            <ul>
                @foreach (var s in a.Seasons)
                {
                    foreach (var e in s.Episodes)
                    {
                        <li><a href="/@e.Season.Adaptation.MediumUrlName/@e.Season.Adaptation.UrlName/season/@e.Season.AirOrder/episode/@e.AirOrder">@e.ID</a></li>
                    }
                }
            </ul>
        </li>
    }
</ul>

<h2>Actors</h2>
<ul>
    @foreach (var a in actors.Where(a => a.ID > 0))
    {
        <li><a href="/actor/@a.UrlName">@a.UrlName</a></li>
    }
</ul>

<h2>Characters</h2>
<ul>
    @foreach (var c in characters.Where(c => c.ID > 0))
    {
        <li><a href="/character/@c.UrlName">@c.UrlName</a></li>
    }
</ul>