@{
    ViewBag.Title = "Sitemap";
    var actors = ((IEnumerable<HolmesMVC.Models.Actor>)ViewBag.Actors).ToList();
    var characters = ((IEnumerable<HolmesMVC.Models.Character>)ViewBag.Characters).ToList();
    var adaptations = ((IEnumerable<HolmesMVC.Models.Adaptation>)ViewBag.Adaptations).ToList();
}

<h2>Top Menu</h2>

<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/Home/Canon">Canon</a>
    </li>
    <li>
        <a href="/Adaptation">Adaptations</a>
    </li>
    <li>
        <a href="/Toys/HolmesNumToy">HolmesNumToy</a>
    </li>
    <li>
        <a href="/Toys/PhotoCollageToy">PhotoCollageToy</a>
    </li>
    <li>
        <a href="/Toys/MapPinToy">MapPinToy</a>
    </li>
    <li>
        <a href="/Toys/MultiTimelineToy">MultiTimelineToy</a>
    </li>
    <li>
        <a href="/Home/Credits">Credits</a>
    </li>
</ul>

<h2>Adaptations</h2>
<ul>
    @foreach (var a in adaptations)
    {
        <li><a href="/Adaptation/@a.ID">@a.ID</a></li>
        <li>
            Episodes:
            <ul>
                @foreach (var s in a.Seasons)
                {
                    foreach (var e in s.Episodes)
                    {
                        <li><a href="/Episode/@e.ID">@e.ID</a></li>
                    }
                }
            </ul>
        </li>
    }
</ul>

<h2>Actors</h2>
<ul>
    @foreach (var a in actors.Where(a => a.ID > 0))
    {
        <li><a href="/Actor/@a.ID">@a.ID</a></li>
    }
</ul>

<h2>Characters</h2>
<ul>
    @foreach (var c in characters.Where(c => c.ID > 0))
    {
        <li><a href="/Character/@c.ID">@c.ID</a></li>
    }
</ul>