@model HolmesMVC.Models.ViewModels.StoryView
@{
    ViewBag.Title = "A quote from '" + Model.Episode.Story + "'";
}

<link href="/Content/Cano.css" rel="stylesheet" />

<section class="leftfloatdetails">
    <article>
        <div class="storyChunk">
        </div>
        -- <i>@Html.ActionLink("'" + Model.Episode.Story + "'", "Details", "Story", new { id = Model.Episode.StoryCode }, null)</i>, Sir Arthur Conan Doyle
    </article>
</section>

<div style="display: none" id="hiddenStory">Loading story text...</div>
<div class="clear-fix"></div>

@section Scripts {
    <script src="/Scripts/Apdore-StoryChunkFunctionality.js"></script>
    <script src="/Scripts/Apdore-StoryChunkPageReady.js"></script>
}