@if (Request.IsAuthenticated)
{
    // don't let anonymous users edit the database
    <text>
<p class="dblinks">
    @Html.RouteLink("Edit " + (string)ViewBag.Table, "Edit", new { controller = (string)ViewBag.Table, action = "edit", id = ViewBag.ID }) |
        @Html.RouteLink("Delete " + (string)ViewBag.Table, "Delete", new { controller = (string)ViewBag.Table, action = "delete", id = ViewBag.ID })

    @if (ViewBag.Table != "Episode")
    {
        <text>| @Html.RouteLink("New " + (string)ViewBag.Table, "Create", new { controller = (string)ViewBag.Table, action = "create" })</text>
    }
    else
    {
        <text>| @Html.RouteLink("New " + (string)ViewBag.Table, "CreateEpisode", new { id = ViewBag.adaptId })</text>
    }
</p>
    </text>
}