ul.ui-autocomplete {
    background-color: white;
    width: 150px;
    border-radius: .25em;
    padding-bottom: .25em;
    padding-left: 1.75em;
    border: 3px greenyellow solid;
}

ul.ui-autocomplete li.ui-menu-item {
    list-style: circle;
    padding-left: 0;
}

ul.ui-autocomplete li.ui-menu-item a:link {
    color: blue;
}

ul.ui-autocomplete li.ui-menu-item a:visited {
    color: blue;
}

ul.ui-autocomplete li.ui-menu-item a:hover {
    color: blue;
}

ul.ui-autocomplete li.ui-menu-item a:active {
    color: blue;
}

div.gsc-control-cse-en {
    background-color: transparent;
    border: none;
}