@import url('Standard.css');
@import url('Menu.css');
@import url('Accordion.css');
@import url('Login.css');
@import url('Scraps.css');
@import url('SearchPartial.css');

html {
    background-color: #C9EFD2; /* header and space below footer */
    margin: 0;
    padding: 0;
}

/* shut up, Resharper */
.editor-field {
}
.editor-label {
}

input[type="checkbox"]+label { /* checkbox labels, primarily on MassAdd */
    display: inline;
    font-weight: inherit;
    font-size: inherit;
}

li.checklist { /* have to use a class because no :parent selector */
    list-style: none;
    margin-left: -20px;
}

.adapteds { /* adaptations list on Canon Story pages */
}

.adapteds > h3 {
    text-align: left;
}

span.strong {
    font-weight: 700;
}

a { /* links */
    color: green;
    outline: none;
    text-decoration: none;
    padding: 0;
}

    a:link, a:visited,
    a:active, a:hover {
        color: green;
    }

    a:hover {
        background-color: white;
        text-decoration: underline;
    }
    
    a.listlink:focus {
        color: lime;
        font-weight: bold;
    }

.searchbox {
    width: 100px;
}

body {
    border-top: solid 10px #333; /* top bar above header */
    color: #333; /* most text on the site */
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

#body { /* main body of pages */
    background-color: white;
    clear: both;
    padding-bottom: 35px;
}

footer {
    clear: both;
    background-color: #333; /* bottom 'copyright Appledore' bar */
    color: white;
    font-size: .8em;
    height: 40px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }

h1, h2, h3,
h4, h5, h6 {
    color: #333;
    margin-bottom: 0;
    padding-bottom: 0;
}

header, footer, hgroup,
nav, section {
    display: block;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
    width: 50%;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.main-content {
    padding-left: 10px;
    padding-top: 30px;
}

header .content-wrapper {
    padding-top: 20px;
}

article {
    float: left;
    width: 100%;
}


/* site title
----------------------------------------------------------*/
.site-title {
    font-size: 5em;
    margin: 0;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    font-weight: bolder;
    color: #3B7034;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
}

    .site-title a, .site-title a:hover, .site-title a:active {
        background: none;
        color: #3B7034;
        outline: none;
        text-decoration: none;
    }
























/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 500px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
        font-size: 3.5em;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    #menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        #menu li {
            margin: 0;
            padding: 0;
        }

        #menu > li > ul {
            border-top: none;
        }


    /* changes to table wordwrap */
    
    .lineddetails > tbody > tr {
        white-space: inherit;
    }

    .lineddetails > tbody > tr > td {
        white-space: inherit;
    }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    section .rightfloatdetails {
        float: left;
        padding: 0 20px 0 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

    /* features */
    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

        section.feature img {
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
