@using HolmesMVC
@model HolmesMVC.Models.Episode

@{
    ViewBag.Title = "Can't Delete";
}

<h2>@ViewBag.Title</h2>

@{ var epname = Shared.DisplayName(Model); }
<p>You can't delete '@epname' because it still has Appearances:</p>

@foreach (var a in Model.Appearances)
{
<text>
<p>
    @a.Actor.ShortName as @Shared.ShortName(a.Character): @Html.ActionLink("Delete", "Delete", "Appearance", new { id = a.ID }, null)
</text>
}
